{% extends 'base.html' %}
{% load i18n %}
{% block title %}[{{ title }}] :: {% trans 'Articles' %}{% endblock %}
{% block content %}
{% for item in blog %}
{% if item.published %}
{% if forloop.first %}
<h1 class="text-center fw-bold mt-5">{% trans 'All related articles with' %} <span class="text-success">
		{{ item.tag }}</span>
</h1><br>
{% endif %}
<div class="card">
	<div class="card-header">
		<i class="fas fa-undo"></i>&nbsp;
		<a class="link-success focus-ring {% if request.resolver_match.url_name == 'blog' %}active{% endif %}"
			href="{% url 'myblog:blog' %}">
			<span class="fw-bold">
				{% trans 'Back to all articles' %}
			</span>
		</a>
	</div>
	<div class="card-body">
		<h2 class="card-title fw-bold">{{ item.title }}</h2>
		<div class="row">
			<div class="col-12 col-lg-4">
				<img src="{{ item.tag.image }}" alt="Preview image" class="d-block mx-auto img-fluid mt-1 mb-2">
			</div>
			<div class="col-12 col-lg-8">
				<p class="card-text fw-bold mt-1">{{ item.preview_text }}</p>
				<a href="{{ item.get_absolute_url }}" class="btn btn-success">{% trans 'Read more' %}...</a>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<small class="text-body-secondary fw-bold">{% trans 'Last updated' %}: {{ item.updated_at }}</small><br>
		<small class="text-body-secondary fw-bold">{% trans 'Created at' %}: {{ item.created_at }}</small>
	</div>
</div>
<hr>
{% endif %}
{% endfor %}
{% endblock %}