{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Lauris Stirna :: {% trans 'About' %}{% endblock %}
{% block static_content %}
<div class="container">
	<div class="row">
		<div class="col-12 col-md-3">
			<picture>
				<source srcset="{% static 'img/self_photo.webp' %}" type="image/webp">
				<img src="{% static 'img/self_photo.png' %}" alt="Selfie" class="img-fluid blog-img photo my-4">
			</picture>
		</div>
		<div class="col-12 col-md-9 mt-0 mt-md-4">
			<h1 class="big mt-0 mt-md-5 mb-3">Lauris Stirna</h1>
			<figcaption class="blockquote-footer fs-4">
				{% trans 'When I began to work on my diploma project I fell in love with creating websites' %}
			</figcaption>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="col-12 col-xl-4 mt-4">
			<h1 class="text-center mb-4">{% trans 'Portfolio' %}</h1>
			<figcaption class="blockquote-footer fs-6">{% blocktrans %}As a relatively new developer, my portfolio is
				limited with only a few real projects to showcase, but I am proud of what I have accomplished
				so far{% endblocktrans %}:
			</figcaption>
			<ul>
				<li class="mb-1">
					<a href="https://www.affix.lv" target="_blank" rel="noopener">affix.lv</a>
				</li>
				<li class="my-1">
					<a href="https://laurisstirna.eu.pythonanywhere.com" target="_blank"
						rel="noopener">laurisstirna.eu.pythonanywhere.com</a>
				</li>
				<li class="my-1">
					{% trans "There is supposed to be one more SPA website but it's currently under development" %}
				</li>
				<li class="mt-1">
					{% trans 'My current' %}
					<a href="https://github.com/LaSTiqq/Coffee-united-people-2.0" target="_blank" rel="noopener">PET</a>
					{% trans 'project dedicated to' %}
					<a href="https://bootcamp.lv" target="_blank" rel="noopener">Accenture
						Bootcamp</a>
				</li>
			</ul>
		</div>
		<div class="col-12 col-xl-4 mt-4">
			<h1 class="text-center mb-2">{% trans 'Overall information' %}</h1>
			<ul class="list-unstyled">
				<li>
					<p class="text-center fw-bold fs-5 mb-1">{% trans 'Qualification' %}</p>
					<p class="text-center mb-1">{% trans 'Software engineer (bachelors degree)' %}</p>
				</li>
				<li>
					<p class="text-center fw-bold fs-5 mb-1">{% trans 'Graduated' %}</p>
					<p class="text-center mb-1"> <a href="https://www.rta.lv/" rel="noopener" target="_blank">
							{% trans 'Rezekne Academy of Technologies' %}</a> (2021)</p>
				</li>
				<li>
					<p class="text-center fw-bold fs-5 mb-1">{% trans 'Current status' %}</p>
					<p class="text-center mb-1">{% trans 'Looking for a job' %}</p>
				</li>
				<li>
					<p class="text-center fw-bold fs-5 mb-1">{% trans 'Preferable position' %}</p>
					<p class="text-center mb-1">Frontend engineer {% trans '(or similar)' %}</p>
				</li>
				<li>
					<p class="text-center fw-bold fs-5 mb-1">{% trans 'Non preferable position' %}</p>
					<p class="text-center mb-1">QA Engineer {% trans '(or similar)' %}</p>
				</li>
			</ul>
		</div>
		<div class="col-12 col-xl-4 mt-4">
			<h1 class="text-center mb-4">{% trans 'Closest plans' %}</h1>
			<figcaption class="blockquote-footer fs-6 text-end">{% blocktrans %}As a self-driven and responsible
				developer, I believe that my learning journey should never come to an end.
				My next learning objectives are{% endblocktrans %}:
			</figcaption>
			<ul style="list-style-position: inside">
				<li class="mb-1 text-end">{% trans 'Start learning' %} <a href="https://www.typescriptlang.org"
						target="_blank" rel="noopener">Typescript</a></li>
				<li class="my-1 text-end">{% trans 'Keep learning' %} <a href="https://www.mongodb.com" target="_blank"
						rel="noopener">MongoDB</a> + <a href="https://expressjs.com" target="_blank"
						rel="noopener">Express.js</a>
					+ <a href="https://reactjs.org" target="_blank" rel="noopener">React.js</a>
				</li>
				<li class="my-1 text-end">{% trans 'Keep learning' %} <a href="https://html.com" target="_blank"
						rel="noopener">HTML</a> + <a href="https://web.dev/learn/css/" target="_blank"
						rel="noopener">CSS</a> + <a href="https://www.javascript.com" target="_blank"
						rel="noopener">JavaScript</a>
					{% trans 'and' %} <a href="https://sass-lang.com/" target="_blank" rel="noopener">SCSS</a></li>
				<li class="my-1 text-end">{% trans 'Keep using and remembering' %} <a href="https://www.python.org"
						target="_blank" rel="noopener">Python</a>+<a href="https://www.djangoproject.com"
						target="_blank" rel="noopener">Django</a></li>
				<li class="mt-1 text-end">{% trans 'Learn' %} <a href="https://nextjs.org" target="_blank"
						rel="noopener">Next.js</a> {% trans 'and/or' %} <a href="https://www.php.net" target="_blank"
						rel="noopener">PHP</a>+<a href="https://wordpress.com" target="_blank"
						rel="noopener">Wordpress</a>
					({% trans 'maybe' %})</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}