{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Lauris Stirna :: {% trans 'Other' %}{% endblock %}
{% block static_content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="big mt-5">{% trans 'Other' %}</h1>
			<h1 class="text-end">{% trans 'Technologies' %}</h1>
			<p class="text-end mb-3">Section in progress... As well as translations for most of the website on russian
				and latvian.</p>
		</div>
		<div class="col-12">
			<h1>{% trans 'Useful resources' %}</h1>
			<p class="mb-3">{% trans 'Here are collected most of the resources that I use' %}:</p>
			<ul>
				<li>OS Templates - <a href="https://www.os-templates.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">{% trans 'link' %}</a></li>
				<li>Nicepage Templates - <a href="https://nicepage.com/templates" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">{% trans 'link' %}</a></li>
				<li>Lorem Picsum - <a href="https://picsum.photos/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>Pixabay - <a href="https://pixabay.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>Logo Ipsum - <a href="https://logoipsum.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>Iconfinder - <a href="https://www.iconfinder.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">{% trans 'link' %}</a></li>
				<li>Icons8 - <a href="https://icons8.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>Material icons - <a href="https://fonts.google.com/icons?selected=Material+Icons" rel="noopener"
						target="_blank" class="link-primary text-decoration-none">{% trans 'link' %}</a></li>
				<li>Font awesome icons - <a href="https://fontawesome.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">{% trans 'link' %}</a></li>
				<li>TinyWow - <a href="https://tinywow.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>Project structure tree - <a href="https://tree.nathanfriend.io/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">{% trans 'link' %}</a></li>
				<li>Fontjoy - <a href="https://fontjoy.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>CSS Minifier - <a href="https://www.toptal.com/developers/cssminifier" rel="noopener"
						target="_blank" class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>Unminify - <a href="https://unminify.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>Unsplash - <a href="https://unsplash.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>Carbon - <a href="https://carbon.now.sh/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
				<li>ProfilePicMaker - <a href="https://pfpmaker.com/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">{% trans 'link' %}</a></li>
				<li>HTTP Cats - <a href="https://http.cat/" rel="noopener" target="_blank"
						class="link-primary text-decoration-none">
						{% trans 'link' %}</a></li>
			</ul>
		</div>
		<hr>
		<div class="col-12">
			<h1 class="text-end">{% trans 'Thoughts' %}</h1>
			<ol class="text-end list-unstyled fst-italic">
				<li>{% trans 'Efficient use of search engines can often resolve the majority of issues' %}.
					{% trans 'ChatGPT makes all easier at least twice' %}.</li>
				<li>{% trans 'Continuous learning is crucial for success as a programmer' %}.</li>
				<li>{% trans 'Improve English as much as you can' %}.</li>
			</ol>
		</div>
	</div>
</div>
{% endblock %}