# Compiled Python bytecode
*.py[cod]

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Self
blog/templates/robots.txt
blog/myblog/sitemaps.py
blog/myblog/migrations
blog/blog/settings.py
blog/blog/urls.py
blog/blog/static
blog/db.sqlite3
venv/