# Compiled Python bytecode
*.py[cod]

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Self
affix/affix/settings.py
affix/affix/urls.py
affix/affix/static
affix/db.sqlite3
venv/