{% load static %}
{% load i18n %}

<div id="CookielawBanner">
    <div class="cookie fw-bold">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <h3 class="fw-bold">{% trans 'Cookies' %}</h3>
                </div>
            </div>
			<div class="text-center">
				<div class="col-12 text-dark">
					<p class="mb-0">{% trans 'This site uses "cookies". By continuing you agree to use of it' %}.<br></p>
				</div>
				<div class="col-12">
					<a target="_blank" rel="noreferrer" href="https://ec.europa.eu/info/cookies_en"
						class="text-decoration-none fs-5 fw-bold links">{% trans 'What are the cookies?' %}</a>
				</div>
				<div class="col-12">
					<a href="javascript:Cookielaw.createCookielawCookie();" class="btn btn-outline-light mt-3">{% trans 'Accept and close' %}</a>
				</div>
			</div>
        </div>
    </div>
</div>

<script src="{% static 'js/cookielaw.js' %}"></script>