{% load static %}
{% load i18n %}
<div id="CookielawBanner">
	<div class="cookie">
		<div class="row">
			<div class="col-12">
				<h3 class="title fw-bold text-danger arimo mt-1">{% trans 'Cookies' %}</h3>
			</div>
			<div class="text-center">
				<div class="col-12 text-dark">
					<p class="mb-1 fw-bold">{% trans 'We inform you that cookies are used for the full functioning of this website. By continuing, you agree to the use of them' %}.<br></p>
				</div>
				<div class="col-12">
					<a target="_blank" rel="noreferrer" href="https://ec.europa.eu/info/cookies_en"
						class="link-primary">{% trans 'What are the cookies?' %}</a>
				</div>
				<div class="col-12">
					<a href="javascript:Cookielaw.createCookielawCookie();" class="btn btn-outline-dark mt-3">{% trans 'Accept and close' %}</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/cookielaw.js' %}"></script>