{% load i18n %}
<div class="container">
	<div class="row gx-0">
		<div class="col-12 col-xl-4 d-flex align-items-center justify-content-center">
			<figcaption class="blockquote-footer text-white text-center mt-2">
				<small>{% trans 'Page is translated into three languages but translations may vary' %}</small>
			</figcaption>
		</div>
		<div class="col-12 col-xl-4 text-center mt-2">
			<a href="https://www.facebook.com/lastiqq/" title="Facebook" target="_blank" rel="noopener" class="link-white me-4">
				<i class="fab fa-facebook"></i>
			</a>
			<a href="https://www.instagram.com/lauriss_1313/" title="Instagram" target="_blank" rel="noopener" class="link-white mx-4">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://github.com/LaSTiqq" title="GitHub" target="_blank" rel="noopener" class="link-white mx-4">
				<i class="fab fa-github"></i>
			</a>
			<a href="https://bitbucket.org/lauriss/" title="BitBucket" target="_blank" rel="noopener" class="link-white ms-4">
				<i class="fab fa-bitbucket"></i>
			</a>
		</div>
		<div class="col-xl-4">
			<a href="{% if request.resolver_match.url_name == 'home' %}{% url 'myblog:home' %}#top{% endif %}" aria-label="{% trans 'Go up' %}">
				<div id="arrow" class="overlay">
					<i class="fas fa-arrow-up"></i>
				</div>
			</a>
		</div>
	</div>
</div>