{% load i18n %}
<div class="container">
	<div class="row gx-0">
		<div class="col-12 col-xl-4 d-flex align-items-center justify-content-center">
			<p class="text-center mt-3 mb-0 fw-bold">
				{% trans 'Page is translated into three languages but translations may vary' %}
			</p>
		</div>
		<div class="col-12 col-xl-4 text-center mt-3">
			<a href="https://www.facebook.com/lastiqq/" title="Facebook" target="_blank" rel="noopener"
				class="links me-4">
				<i class="fab fa-facebook fs-3"></i>
			</a>
			<a href="https://www.instagram.com/lauriss_1313/" title="Instagram" target="_blank" rel="noopener"
				class="links mx-4">
				<i class="fab fa-instagram fs-3"></i>
			</a>
			<a href="https://github.com/LaSTiqq" title="GitHub" target="_blank" rel="noopener" class="links mx-4">
				<i class="fab fa-github fs-3"></i>
			</a>
			<a href="https://bitbucket.org/lauriss/" title="BitBucket" target="_blank" rel="noopener"
				class="links ms-4">
				<i class="fab fa-bitbucket fs-3"></i>
			</a>
		</div>
		<div class="col-12 col-xl-4 text-center mt-3">
			<p>Copyright © {% now 'Y' %} - Lauris Stirna</p>
		</div>
	</div>
</div>