{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<a name="top"></a>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="{% static 'img/favicon.ico' %}" alt="Logo" width="48" height="44" class="mb-1">
			Lauris Stirna</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
			aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav me-auto mb-lg-0">
				<li class="nav-item">
					<a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'myblog:home' %}">{% trans 'About' %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if request.resolver_match.url_name == 'blog' %}active{% endif %}" href="{% url 'myblog:blog' %}">{% trans 'Blog' %}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if request.resolver_match.url_name == 'portfolio' %}active{% endif %}" href="{% url 'myblog:portfolio' %}">{% trans 'Portfolio' %}</a>
				</li>
			</ul>
			<div class="animated">
				<img src="{% static 'img/arrow.svg' %}" alt="Arrow" id="img-arrow" width="36" height="36">
			</div>
			<form action="{% url 'set_language' %}" method="post">
				{% csrf_token %}
				<input name="next" type="hidden" value="{{ redirect_to }}" />
				<ul class="d-flex languages">
					<li>
						<button type="submit" name="language" value="{{ languages.0.code }}"
							class="btn btn-outline-light btn-sm {% if languages.0.code == LANGUAGE_CODE %}active{% endif %}">
							{{ languages.0.name_local|capfirst }}
						</button>
					</li>
					<li>
						<button type="submit" name="language" value="{{ languages.1.code }}"
							class="btn btn-outline-light btn-sm {% if languages.1.code == LANGUAGE_CODE %}active{% endif %}">
							{{ languages.1.name_local|capfirst }}
						</button>
					</li>
					<li>
						<button type="submit" name="language" value="{{ languages.2.code }}"
							class="btn btn-outline-light btn-sm {% if languages.2.code == LANGUAGE_CODE %}active{% endif %}">
							{{ languages.2.name_local|capfirst }}
						</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</nav>