body,
html {
  font-family: "Bitter", serif;
  height: 100%;
  transition: 0.4s;
}
a {
  text-decoration: none;
}
img {
  pointer-events: none;
}
main {
  flex: 1 1 auto;
}
.wrapper {
  min-height: 100%;
}
nav {
  font-size: 1.125rem;
}
nav,
h1,
h2 {
  font-family: "Arima", cursive;
}
.fa-linkedin {
  color: #0077b5;
  transition: 0.4s;
}
.fa-linkedin:hover {
  color: #00a0dc;
  transition: 0.4s;
}
.fa-github {
  color: #8c8c8c;
  transition: 0.4s;
}
.fa-github:hover {
  color: #4078c0;
  transition: 0.4s;
}
.fa-at {
  color: #1abc9c;
  transition: 0.4s;
}
.fa-at:hover {
  color: #16a085;
  transition: 0.4s;
}
.fa-discord {
  color: #7289da;
  transition: 0.4s;
}
.fa-discord:hover {
  color: #a74dd6;
  transition: 0.4s;
}
.blog-img {
  display: block;
  margin: 0 auto;
}
.photo {
  width: 250px;
}
.intro {
  text-align: center;
}
.big {
  font-size: 4.25rem;
  margin-top: 60px;
  margin-bottom: 30px;
  transition: font-size 0.3s;
}
.ul {
  margin: 30px 0;
}

/****** Toggler ******/
.switch {
  position: relative;
  width: 64px;
  height: 34px;
  cursor: pointer;
}
.switch input {
  height: 0;
}
.slider {
  background-color: #73c0fc;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}
.slider:before {
  content: "";
  background-color: #e8e8e8;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  position: absolute;
  left: 2px;
  bottom: 4px;
  z-index: 2;
  transition: 0.4s;
}
.sun svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
}
.moon svg {
  fill: #73c0fc;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 1;
}
.sun svg {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.moon svg {
  animation: tilt 5s linear infinite;
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.input:checked + .slider {
  background-color: #183153;
}
.input:checked + .slider:before {
  transform: translateX(25px);
}

/****** LANGUAGES ******/
.animated {
  animation-name: move-to-the-right;
  animation-duration: 375ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.animated img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
@keyframes move-to-the-right {
  from {
    margin-right: 20px;
  }
  to {
    margin-right: 10px;
  }
}
.languages {
  margin-top: 18px;
  padding: 0;
}
.languages button {
  position: relative;
  margin-right: 5px;
  padding-left: 40px;
}
button[value="en"]::before,
button[value="lv"]::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 11px;
  bottom: 3px;
}
button[value="en"]::before {
  background-image: url(../img/en.svg);
}
button[value="lv"]::before {
  background-image: url(../img/lv.svg);
}

/****** TIMELINE ******/
.timeline h3 {
  font-size: 1rem;
}
.line {
  background-image: linear-gradient(45deg, #21f271, #57e940, #23878a);
  width: 5px;
  height: 900px;
  position: absolute;
  top: 490px;
  left: 50%;
  border-radius: 6px;
  transform: translateX(-50%);
  z-index: 1;
}
.box {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 6px;
  padding: 10px;
}
.box p {
  font-size: 0.875rem;
}
.left .box,
.right .box {
  margin-bottom: 125px;
}
.left .box {
  margin-right: 35px;
}
.right .box {
  margin-left: 35px;
}
.right .box:first-child {
  margin-top: 125px;
}
.left .box:last-child,
.right .box:last-child {
  margin-bottom: 0;
}
.right .box:last-child {
  margin-top: -25px;
}
.right .box::before,
.left .box::after {
  content: "";
  background-color: #72eb3a;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  z-index: 2;
}
.left .box::after {
  transform: translate(-50%, -35px);
}
.right .box::before {
  transform: translate(-50%, 35px);
}

@media (max-width: 575.98px) {
  .animated,
  .line,
  .right .box::before,
  .left .box::after,
  .tooltip {
    display: none;
  }
  .timeline h3 {
    font-size: 0.75rem;
  }
  .right .box,
  .left .box {
    margin-bottom: 20px;
  }
  .right .box:first-child {
    margin-top: 20px;
  }
  .left .box {
    margin-right: 10px;
  }
  .right .box {
    margin-left: 10px;
  }
  .right .box:last-child {
    margin-top: 0px;
  }
  .box h5 {
    font-size: 0.825rem;
  }
  .box h6,
  .box p {
    font-size: 0.625rem;
  }
  .box p {
    line-height: 1.25;
  }
  .card {
    text-align: center;
  }
  .photo {
    width: 235px;
  }
  .big {
    font-size: 3rem;
    margin-top: 30px;
  }
  .ul {
    margin-top: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .animated,
  .line,
  .right .box::before,
  .left .box::after,
  .tooltip {
    display: none;
  }
  .timeline h3 {
    font-size: 0.75rem;
  }
  .right .box,
  .left .box {
    margin-bottom: 50px;
  }
  .right .box:first-child {
    margin-top: 50px;
  }
  .right .box:last-child {
    margin-top: 0px;
  }
  .left .box {
    margin-right: 10px;
  }
  .right .box {
    margin-left: 10px;
  }
  .box h5 {
    font-size: 1rem;
  }
  .box h6,
  .box p {
    font-size: 0.625rem;
  }
  .box p {
    line-height: 1.25;
  }
  .big {
    font-size: 3.25rem;
    margin-top: 30px;
  }
  .photo {
    width: 235px;
  }
  .card {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .animated,
  .line,
  .right .box::before,
  .left .box::after,
  .tooltip {
    display: none;
  }
  .timeline h3 {
    font-size: 1rem;
  }
  .left .box {
    margin-right: 10px;
  }
  .right .box {
    margin-left: 10px;
  }
  .box h5 {
    font-size: 1rem;
  }
  .box h6 {
    font-size: 0.875rem;
  }
  .big {
    font-size: 3rem;
    margin-top: 10px;
  }
  .photo {
    width: 235px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .big {
    margin-top: 10px;
  }
  .line {
    height: 1000px;
    top: 480px;
  }
  .right .box:last-child {
    margin-top: 0;
  }
  .box h6 {
    font-size: 0.875rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .big {
    margin-top: 25px;
  }
  .line {
    height: 1000px;
    top: 480px;
  }
  .right .box:last-child {
    margin-top: 0;
  }
}
