body,
html {
  font-family: "Bitter", serif;
  height: 100%;
  transition: 0.5s;
}
body.dark-mode {
  background-color: #000;
}
img {
  pointer-events: none;
}
main {
  flex: 1 1 auto;
}
.wrapper {
  min-height: 100%;
}
.blockquote-footer {
  color: #777777;
  font-size: 22px;
  font-style: italic;
}
nav {
  background-color: #f8f9fa;
  font-size: 18px;
}
.dark-mode nav {
  background-color: #212529;
}
.dark-mode .nav-link {
  color: rgba(255, 255, 255, 0.55) !important;
}
.dark-mode .nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
.dark-mode .nav-link.active,
.dark-mode .navbar-brand {
  color: #f9f8fa !important;
}
nav,
h1,
h2 {
  font-family: "Arima", cursive;
  font-weight: bold;
  color: #000;
}
.dark-mode nav,
.dark-mode h1,
.dark-mode h2,
.dark-mode h6,
.dark-mode p,
.dark-mode li {
  color: #fff;
}
footer {
  background-color: #f8f9fa;
}
.fa-linkedin {
  color: #0077b5;
  transition: 0.4s;
}
.fa-linkedin:hover {
  color: #00a0dc;
  transition: 0.4s;
}
.fa-github {
  color: #181717;
  transition: 0.4s;
}
.fa-github:hover {
  color: #4078c0;
  transition: 0.4s;
}
.fa-at {
  color: #1abc9c;
  transition: 0.4s;
}
.fa-at:hover {
  color: #16a085;
  transition: 0.4s;
}
.fa-discord {
  color: #7289da;
  transition: 0.4s;
}
.fa-discord:hover {
  color: #a74dd6;
  transition: 0.4s;
}
.fa-telegram {
  color: #0088cc;
  transition: 0.4s;
}
.fa-telegram:hover {
  color: #54c1e8;
  transition: 0.4s;
}
.dark-mode footer {
  background-color: #212529;
}
.dark-mode footer p {
  color: #f9f8fa;
}
.highlight-no-hover {
  color: #ff5733;
}
.highlight {
  color: #ff5733;
  transition: 0.4s;
}
.highlight:hover {
  color: #ff8c1a;
  transition: 0.4s;
}
.dark-mode hr {
  color: #fff;
}
.blog-img {
  display: block;
  margin: 0 auto;
}
.photo {
  width: 250px;
}
.big {
  font-size: 68px;
}
.dark-mode .content {
  color: #f9f8fa;
}
.dark-mode .card {
  background-color: #212529 !important;
}
.dark-mode .border {
  color: #f9f8fa;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(95, 245, 39, 0.8), 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(95, 245, 39);
}

/****** ACCORDION ******/
.accordion {
  border: 0.75px solid #000;
}
.dark-mode .accordion {
  border: 0.75px solid #fff;
}
.accordion-item {
  border: 0.75px solid #000;
}
.dark-mode .accordion-item {
  background-color: #212529;
  border: 0.75px solid #fff;
}
.dark-mode .accordion-button {
  background-color: #000;
  color: #fff;
}
.accordion-button:focus {
  box-shadow: 0px 0px 10px 2px #00bfff;
}
.dark-mode .accordion-button:focus {
  border-color: #747474;
}
.dark-mode .accordion-button::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../img/arrow_accordion.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transform: rotate(-180deg);
}
.dark-mode .accordion-button:not(.collapsed) {
  color: #d0f4de;
  background-color: #1c2331;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.dark-mode .accordion-button:not(.collapsed)::after {
  transform: none;
}
/****** Toggler ******/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.icon-sun {
  background: url(../img/sun-icon.svg);
  background-size: cover;
  height: 26px;
  width: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
}
.icon-moon {
  background: url(../img/moon-icon.svg);
  background-size: cover;
  height: 26px;
  width: 26px;
  position: absolute;
  left: 30px;
  bottom: 4px;
}
input:not(:checked) + .slider .icon-sun {
  display: block;
}
input:checked + .slider .icon-moon {
  display: block;
}
input:not(:checked) + .slider .icon-moon {
  display: none;
}
input:checked + .slider .icon-sun {
  display: none;
}

/****** LANGUAGES ******/
.animated {
  animation-name: move-to-the-right;
  animation-duration: 375ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.animated img {
  margin-right: 20px;
}
@keyframes move-to-the-right {
  from {
    margin-right: 20px;
  }
  to {
    margin-right: 10px;
  }
}
.languages {
  list-style: none;
  margin-top: 18px;
  padding: 0;
}
.languages li button {
  margin-right: 5px;
  padding-left: 40px;
  position: relative;
}
button[value="en"]::before,
button[value="ru"]::before,
button[value="lv"]::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 11px;
  bottom: 3px;
}
button[value="en"]::before {
  background-image: url(../img/en.svg);
}
button[value="ru"]::before {
  background-image: url(../img/ru.svg);
}
button[value="lv"]::before {
  background-image: url(../img/lv.svg);
}

/****** COOKIES ******/
.cookie {
  color: #fff;
  position: fixed;
  left: 25px;
  bottom: 25px;
  max-width: 411px;
  background-color: #90e0ef;
  border-radius: 13px;
  box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
  opacity: 0.85;
  padding: 15px;
  z-index: 1000;
}
.title {
  margin-left: 45px;
}
.title::before {
  content: "";
  background-image: url(../img/cookie-icon.svg);
  position: absolute;
  top: 15px;
  left: 15px;
  width: 33px;
  height: 33px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #img-arrow {
    display: none;
  }
  /****** NAVBAR ******/
  .tooltip {
    display: none;
  }
  .photo {
    width: 235px;
    display: block;
    margin: 0 auto;
  }
  .big {
    font-size: 60px;
  }
  /******* CARD *******/
  .card {
    text-align: center;
  }
  /******* COOKIE ******/
  .cookie {
    margin: 5% auto;
    left: 0;
    right: 0;
    bottom: -15px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #img-arrow {
    display: none;
  }
  /****** NAVBAR ******/
  .tooltip {
    display: none;
  }
  .photo {
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  .big {
    font-size: 60px;
  }
  /******* CARD *******/
  .card {
    text-align: center;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #img-arrow {
    display: none;
  }
  /****** NAVBAR ******/
  .tooltip {
    display: none;
  }
  .photo {
    display: block;
    margin: 0 auto;
  }
  .big {
    font-size: 60px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .photo {
    display: block;
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .photo {
    display: block;
    margin: 0 auto;
  }
}
