body,
html {
  font-family: "Bitter", serif;
  height: 100%;
  transition: 0.5s;
}
body.dark-mode {
  background-color: #1b1d24;
}
img {
  pointer-events: none;
}
main {
  flex: 1 1 auto;
}
a {
  text-decoration: none;
}
.wrapper {
  min-height: 100%;
}
.blockquote-footer {
  color: #424242;
  font-style: italic;
}
.dark-mode .blockquote-footer {
  color: #dddddd;
}
nav {
  background-color: #f0f0f0;
  font-size: 1.125rem;
}
.dark-mode nav {
  background-color: #15171d;
}
.dark-mode .nav-link {
  color: rgba(255, 255, 255, 0.55) !important;
}
.dark-mode .nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
.dark-mode .nav-link.active,
.dark-mode .navbar-brand {
  color: #f9f8fa !important;
}
nav,
h1,
h2 {
  font-family: "Arima", cursive;
  font-weight: bold;
  color: #000;
}
.dark-mode nav,
.dark-mode h1,
.dark-mode h2,
.dark-mode h6,
.dark-mode p,
.dark-mode li {
  color: #f9f8fa;
}
footer {
  background-color: #f0f0f0;
}
.fa-linkedin {
  color: #0077b5;
  transition: 0.4s;
}
.fa-linkedin:hover {
  color: #00a0dc;
  transition: 0.4s;
}
.fa-github {
  color: #8c8c8c;
  transition: 0.4s;
}
.fa-github:hover {
  color: #4078c0;
  transition: 0.4s;
}
.fa-at {
  color: #1abc9c;
  transition: 0.4s;
}
.fa-at:hover {
  color: #16a085;
  transition: 0.4s;
}
.fa-discord {
  color: #7289da;
  transition: 0.4s;
}
.fa-discord:hover {
  color: #a74dd6;
  transition: 0.4s;
}
.fa-telegram {
  color: #0088cc;
  transition: 0.4s;
}
.fa-telegram:hover {
  color: #54c1e8;
  transition: 0.4s;
}
.dark-mode footer {
  background-color: #15171d;
}
.dark-mode footer p {
  color: #f9f8fa;
}
.dark-mode .highlight-no-hover {
  color: #5d9d0b;
}
.dark-mode .highlight {
  color: #5d9d0b;
  transition: 0.4s;
}
.dark-mode .highlight:hover {
  color: #72eb3a;
  transition: 0.4s;
}
.highlight-no-hover {
  color: #365a08;
}
.highlight {
  color: #365a08;
  transition: 0.4s;
}
.highlight:hover {
  color: #5d9d0b;
  transition: 0.4s;
}
.dark-mode hr {
  color: #fff;
}
.blog-img {
  display: block;
  margin: 0 auto;
}
.dark-mode .card {
  background-color: #212529 !important;
}
.dark-mode .border {
  color: #f9f8fa;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(95, 245, 39, 0.8), 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(95, 245, 39);
}
.photo {
  width: 250px;
}
.intro {
  text-align: center;
}
.big {
  font-size: 4.25rem;
  margin-top: 60px;
  margin-bottom: 30px;
  transition: font-size 0.3s;
}
.ul {
  margin-top: 60px;
  margin-bottom: 30px;
}

/****** ACCORDION ******/
.accordion,
.accordion-item,
.dark-mode .accordion {
  border: 0.75px solid #5d9d0b;
}
.dark-mode .accordion-item {
  background-color: #212529;
  border: 0.75px solid #5d9d0b;
}
.dark-mode .accordion-button {
  background-color: #000;
  color: #fff;
}
.accordion-button:focus {
  box-shadow: 0px 0px 10px 2px #365a08;
}
.dark-mode .accordion-button::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../img/arrow_accordion.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transform: rotate(-180deg);
}
.accordion-button:not(.collapsed) {
  color: #365a08;
  background-color: #fff;
  box-shadow: 0px 0px 10px 2px #365a08;
}
.dark-mode .accordion-button:not(.collapsed) {
  color: #72eb3a;
  background-color: #1c2331;
  box-shadow: 0px 0px 10px 2px #365a08;
}
.dark-mode .accordion-button:not(.collapsed)::after {
  transform: none;
}

/****** Toggler ******/
.switch {
  font-size: 17px;
  position: relative;
  width: 64px;
  height: 34px;
  cursor: pointer;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}
.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}
.sun svg {
  animation: rotate 15s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.moon svg {
  animation: tilt 5s linear infinite;
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.input:checked + .slider {
  background-color: #183153;
}
.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}
.input:checked + .slider:before {
  transform: translateX(30px);
}

/****** LANGUAGES ******/
.animated {
  animation-name: move-to-the-right;
  animation-duration: 375ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.animated img {
  margin-right: 20px;
}
@keyframes move-to-the-right {
  from {
    margin-right: 20px;
  }
  to {
    margin-right: 10px;
  }
}
.languages {
  list-style: none;
  margin-top: 18px;
  padding: 0;
}
.languages li button {
  color: #fff;
  background-color: #5d9d0b;
  position: relative;
  margin-right: 5px;
  padding-left: 40px;
}
.languages li button.active {
  background-color: #365a08;
}
.languages li button:hover {
  background-color: #365a08;
  color: #fff;
}
button[value="en"]::before,
button[value="ru"]::before,
button[value="lv"]::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 11px;
  bottom: 3px;
}
button[value="en"]::before {
  background-image: url(../img/en.svg);
}
button[value="ru"]::before {
  background-image: url(../img/ru.svg);
}
button[value="lv"]::before {
  background-image: url(../img/lv.svg);
}
.card-body a {
  color: #fff;
  background-color: #5d9d0b;
}
.card-body a:hover {
  background-color: #365a08;
  color: #fff;
}

/****** TIMELINE ******/
.line {
  background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
  width: 5px;
  height: 1255px;
  position: absolute;
  top: 490px;
  left: 50%;
  border-radius: 6px;
  transform: translateX(-50%);
  z-index: 1;
}
.box {
  color: #fff;
  background-color: #525252;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 6px;
  padding: 10px;
}
.left .box,
.right .box {
  margin-bottom: 175px;
}
.left .box {
  margin-right: 35px;
}
.right .box {
  margin-left: 35px;
}
.right .box:first-child {
  margin-top: 150px;
}
.left .box:last-child,
.right .box:last-child {
  margin-bottom: 0;
}
.right .box::before,
.left .box::after {
  content: "";
  background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  z-index: 2;
}
.left .box::after {
  content: "";
  transform: translate(-50%, -35px);
}
.right .box::before {
  content: "";
  transform: translate(-50%, 35px);
}
.year {
  color: #f27121;
}
.dark-mode .right .box::before,
.dark-mode .left .box::after,
.dark-mode .line {
  background-image: linear-gradient(45deg, #8a2387, #e94057, #f27121);
}
.dark-mode .box {
  background-color: #333333;
}

@media (max-width: 575.98px) {
  #img-arrow,
  .line,
  .right .box::before,
  .left .box::after,
  .tooltip {
    display: none;
  }
  .right .box,
  .left .box {
    margin-bottom: 10px;
  }
  .right .box:first-child {
    margin-top: 10px;
  }
  .left .box {
    margin-right: 10px;
  }
  .right .box {
    margin-left: 10px;
  }
  .card {
    text-align: center;
  }
  .photo {
    width: 235px;
  }
  .big {
    font-size: 3rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #img-arrow,
  .line,
  .right .box::before,
  .left .box::after,
  .tooltip {
    display: none;
  }
  .right .box,
  .left .box {
    margin-bottom: 10px;
  }
  .right .box:first-child {
    margin-top: 10px;
  }
  .left .box {
    margin-right: 10px;
  }
  .right .box {
    margin-left: 10px;
  }
  .big {
    font-size: 3.25rem;
  }
  .card {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #img-arrow,
  .line,
  .right .box::before,
  .left .box::after,
  .tooltip {
    display: none;
  }
  .right .box,
  .left .box {
    margin-bottom: 10px;
  }
  .right .box:first-child {
    margin-top: 10px;
  }
  .left .box {
    margin-right: 10px;
  }
  .right .box {
    margin-left: 10px;
  }
  .big {
    font-size: 3.5rem;
  }
}
