body,
html {
  font-family: "Merriweather", serif;
  height: 100%;
}
img {
  pointer-events: none;
}
nav {
  font-size: 18px;
}
nav,
h1,
h2,
.arimo {
  font-family: "Arima", cursive;
  font-weight: bold;
}
main {
  flex: 1 1 auto;
  background: rgb(11, 14, 27);
  background: linear-gradient(
    0deg,
    rgba(11, 14, 27, 1) 0%,
    rgba(6, 95, 141, 1) 25%,
    rgba(3, 138, 201, 1) 40%,
    rgba(2, 149, 216, 1) 50%,
    rgba(3, 136, 198, 1) 60%,
    rgba(6, 95, 141, 1) 75%,
    rgba(11, 14, 27, 1) 100%
  );
}
.wrapper {
  min-height: 100%;
}
.blog-img {
  display: block;
  margin: 0 auto;
}
.links {
  color: rgb(31, 129, 109);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}
.link-white {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
.links:hover,
.link-white:hover {
  color: rgb(30, 211, 36);
  transition: 0.5s;
}
.green-colored {
  color: rgb(30, 211, 36);
}
.light-gray {
  color: #baccda;
}
.border-light-gray-top {
  border-top: 1px solid #6d6875;
}
.border-light-gray-bottom {
  border-bottom: 1px solid #6d6875;
}

/****** NAVBAR > LANGUAGES ******/
.animated {
  animation-name: move-to-the-right;
  animation-duration: 375ms;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.animated img {
  margin-right: 20px;
}
@keyframes move-to-the-right {
  from {
    margin-right: 20px;
  }
  to {
    margin-right: 10px;
  }
}
.languages {
  list-style: none;
  margin-top: 14px;
  padding: 0;
}
.languages li button {
  margin-right: 5px;
  padding-left: 40px;
  position: relative;
}
button[value="en"]::before,
button[value="ru"]::before,
button[value="lv"]::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 11px;
  bottom: 3px;
}
button[value="en"]::before {
  background-image: url(../img/en.png);
}
button[value="ru"]::before {
  background-image: url(../img/ru.png);
}
button[value="lv"]::before {
  background-image: url(../img/lv.png);
}

/****** SOCIALS + ANCHORS ******/
.anchors {
  list-style: none;
}
.anchors i {
  vertical-align: text-bottom;
}
.examples i {
  font-size: 22px;
}
.link-white i {
  font-size: 32px;
}
.emails {
  list-style: none;
}
.comments {
  color: #f7ede2;
  font-weight: bold;
}

/****** SERVICES ******/
.services1 li,
.services2 li {
  list-style: none;
  margin-right: 5px;
  padding-left: 40px;
  position: relative;
}
.services1 li::before,
.services2 li::before {
  content: "";
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 15px;
}

/****** FOOTER ******/
footer {
  background-color: rgba(11, 14, 27, 1);
}
footer .overlay {
  display: none;
  background: rgba(0, 0, 221, 0.7);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  position: fixed;
  bottom: 8px;
  right: 212px;
  transition: 0.5s;
}
footer .overlay:hover {
  background: rgba(0, 0, 221, 0.9);
  transition: 0.5s;
}
#arrow i {
  color: #fff;
  font-size: 33px;
  position: fixed;
  bottom: 28px;
  right: 235px;
  transition: 0.5s;
}
#arrow i:hover {
  bottom: 36px;
  transition: 0.5s;
}

/****** COOKIES ******/
.cookie {
  color: #fff;
  position: fixed;
  left: 25px;
  bottom: 25px;
  max-width: 411px;
  background-color: #90e0ef;
  border-radius: 13px;
  box-shadow: 0 6px 6px rgb(0 0 0 / 25%);
  opacity: 0.85;
  padding: 15px;
  z-index: 1000;
}
.title {
  margin-left: 45px;
}
.title::before {
  content: "";
  background-image: url(../img/cookie-icon.svg);
  position: absolute;
  top: 15px;
  left: 15px;
  width: 33px;
  height: 33px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /****** NAVBAR ******/
  #img-arrow {
    display: none;
  }
  .tooltip {
    display: none;
  }
  /******* STORY *******/
  .story,
  .card {
    text-align: center;
  }
  /******* COOKIE ******/
  .cookie {
    margin: 5% auto;
    left: 0;
    right: 0;
    bottom: -15px;
  }
  /****** FOOTER ******/
  #arrow i,
  footer .overlay {
    display: none !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /****** NAVBAR ******/
  #img-arrow {
    display: none;
  }
  .tooltip {
    display: none;
  }
  /******* STORY *******/
  .story,
  .card {
    text-align: center;
  }
  /****** FOOTER ******/
  #arrow i,
  footer .overlay {
    display: none !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /****** NAVBAR ******/
  #img-arrow {
    display: none;
  }
  .tooltip {
    display: none;
  }
  /****** FOOTER ******/
  #arrow i,
  footer .overlay {
    display: none !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /****** FOOTER ******/
  #arrow i,
  footer .overlay {
    display: none !important;
  }
}

/* Extra large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) {
}
