{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block description %}
<meta name="description" content="I am currently unemployed software engineer from Latvia. I am trying to start succesful carrier as a 
frontend developer but I also worked with simple backend. Feel free to contact me">
{% endblock %}
{% block title %}Lauris Stirna :: {% trans 'About' %}{% endblock %}
{% block canonical %}
<link rel="canonical" href="https://www.laurisstirna.id.lv/">{% endblock %}
{% block static_content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="big mt-5 mb-2">{% trans 'About me' %}</h1>
			<figcaption class="blockquote-footer fs-5 fst-italic purple">{% trans 'When I began to work on my diploma project I fell in love with creating websites' %}</figcaption>
		</div>
		<hr>
		<!-- Photo -->
		<div class="col-12 col-lg-4 mt-4 photo">
			<img src="{% static 'img/self_photo.png' %}" alt="Selfie" class="img-fluid blog-img rounded mt-4">
		</div>
		<!-- Overall and contact -->
		<div class="col-12 col-lg-4 mt-4">
			<h1 class="text-center mb-3">{% trans 'Overall information' %}</h1>
			<ul class="text-center list-unstyled">
				<li class="fs-6"><strong>{% trans 'Qualification' %}</strong>: {% trans 'Software engineer (bachelors degree)' %}</li>
				<li class="fs-6"><strong>{% trans 'Graduated' %}</strong>: <a href="https://www.rta.lv/" rel="noopener"
						target="_blank" class="link-primary">{% trans 'Rezekne Academy of technologies' %}</a> (2021)</li>
				<li class="fs-6"><strong>{% trans 'Current status' %}</strong>: {% trans 'WEB Developer (unemployed)' %}</li>
			</ul>
			<h1 class="text-center mb-3">{% trans 'Contact' %}</h1>
			<div class="text-center">
				<a href="https://www.facebook.com/lastiqq/" title="Facebook" target="_blank" rel="noopener"
					class="links">
					<i class="fab fa-facebook fs-2 me-4"></i>
				</a>
				<a href="https://www.instagram.com/lauriss_1313/" title="Instagram" target="_blank" rel="noopener"
					class="links">
					<i class="fab fa-instagram fs-2 mx-4"></i>
				</a>
				<a href="https://github.com/LaSTiqq" title="Github" target="_blank" rel="noopener" class="links">
					<i class="fab fa-github fs-2 mx-4"></i>
				</a>
				<a href="https://bitbucket.org/lauriss/" title="BitBucket" target="_blank" rel="noopener" class="links">
					<i class="fab fa-bitbucket fs-2 ms-4"></i>
				</a>
			</div>
			<ul class="emails p-0 mt-3 list-unstyled text-center">
				<li><i class="far fa-envelope fs-6 text-danger me-2"></i>
					<spam class="links fs-6 arimo">lavrencij13@gmail.com</spam>
				</li>
				<li><i class="far fa-envelope fs-6 text-danger me-2"></i>
					<spam class="links fs-6 arimo">lavrencij@inbox.lv</spam>
				</li>
				<li><i class="far fa-envelope fs-6 text-danger me-2"></i>
					<spam class="links fs-6 arimo">lavrencij@mail.ru</spam>
				</li>
			</ul>
		</div>
		<!-- Stack of technologies -->
		<div class="col-12 col-lg-4 mt-4">
			<h1 class="text-center mb-2">{% trans 'Stack of technologies' %}</h1>
			<h4 class="text-center purple mb-4">{% trans 'Frontend' %}</h4>
			<div class="text-center">
				<i class="fab fa-html5 links fs-2 me-3" title="HTML"></i>
				<i class="fab fa-css3-alt links fs-2 mx-3" title="CSS"></i>
				<i class="fab fa-js-square links fs-2 mx-3" title="JavaScript"></i>
				<i class="fab fa-bootstrap links fs-2 mx-3" title="Bootstrap"></i>
				<i class="fab fa-sass links fs-2 ms-3" title="SCSS"></i>
			</div>
			<h4 class="text-center purple mt-4 mb-3">{% trans 'Backend' %}</h4>
			<div class="d-flex justify-content-center align-items-center backend">
				<img src="{% static 'img/python.png' %}" alt="Python" class="me-1">
				<img src="{% static 'img/django.png' %}" alt="Django" class="mx-1">
				<img src="{% static 'img/mysql.png' %}" alt="MySQL" class="mx-1">
				<img src="{% static 'img/sqlite.png' %}" alt="SQLite" class="ms-1">
			</div>
		</div>
	</div>
</div>
{% endblock %}