{% load i18n %}
<div class="container">
	<div class="row text-center align-items-center">
		<div class="col-12 col-lg-6">
			<p class="text-body-secondary mb-lg-0">
				{% blocktrans %}Website is available in three languages with potential
				translation variations{% endblocktrans %}
			</p>
		</div>
		<div class="col-12 col-lg-6">
			<p class="mb-0">Powered by <a href="https://chat.openai.com/" target="_blank" rel="noopener"
					class="link-primary focus-ring">ChatGPT</a></p>
		</div>
	</div>
</div>